<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui">

<h:head></h:head>
<body>
	<h:form id="form">

		<h:panelGrid columns="1">
			<h:outputText
				value="You have a match ! Please check your mail for more details ! " />
			<h:outputText
				value="You can choose from the following job offers to add to your favorites" />

			<h:dataTable value="#{candidateBean.getJobsToDisplay()}"
				var="jobOffer" border="1">
				<h:column>
					<f:facet name="header">
						<h:outputText value="Job Offer" />
					</f:facet>
					<h:link value="#{jobOffer.description}" outcome="jobOffer">
						<f:param name="id" value="#{jobOffer.id}" />
					</h:link>
				</h:column>

				<h:column>
					<f:facet name="header">
						<h:outputText value="Options" />
					</f:facet>

					<h:commandButton id="btnjob" value="Add to my favorites"
						action="#{candidateBean.addFavoritesCandidate(jobOffer)}"></h:commandButton>
					<h:commandButton id="btnjobdel" value="Remove from my favorites"
						action="#{candidateBean.removeFavoritesCandidat(candidateBean.candidat.id,jobOffer.id)}"></h:commandButton>
				</h:column>
			</h:dataTable>

		</h:panelGrid>
	</h:form>
</body>
</html>
