<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 
      
 <h:head></h:head> 
<body> 
	<h:form id="form">
	<b>Welcome</b>
		<h:panelGrid columns="1">
		<h:outputText value="#{candidateBean.candidat.firstName}" />
		<h:outputText value="#{candidateBean.candidat.lastName}" />
		<h:outputText value="Your skills : " />
		<h:outputText value="#{candidateBean.candidat.skills}" />
		<h:commandButton id="btnjob" value="Check Matching Job Offers" action="#{candidateBean.getMatchingJobs()}" />
		</h:panelGrid> 
	</h:form>
</body>  
</html> 